body {
    margin: 0;
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    color: white;
    background-color: #000010; /* Mørk baggrund */
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#logo {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6600; /* Farve til logoet */
}

.nav-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

.nav-button:hover {
    background-color: #666;
}

#reset-button {
    background-color: #ff6600; /* Orange farve */
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    display: none; /* Start med at skjule knappen */
    transition: background-color 0.3s;
}

#reset-button:hover {
    background-color: #ff3300; /* Mørkere orange ved hover */
}

.nav-gap {
    height: 30px; /* Afstand mellem planetknapperne og "Back to Start"-knappen */
}

#container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#welcome-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#info-box {
    position: fixed;
    top: 100px;
    right: 20px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: white;
    display: none; /* Informationsboksen er skjult, indtil en planet vælges */
}

#info-box h3 {
    color: #ff6600; /* Fremhæv titlen med en varm farve */
    margin-bottom: 10px;
}

