body {
  margin: 0;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
  color: #ffffff;
  background-color: #000000;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
}

#main-title {
  font-size: 2.5em;
  margin: 0;
  color: #ffd700;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  border-radius: 10px;
}

#speed-slider-label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

#galaxy-speed-slider {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
  height: 10px;
  background: #444;
  outline: none;
  border-radius: 5px;
  opacity: 0.8;
}

#galaxy-speed-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffd700;
  cursor: pointer;
  border-radius: 50%;
}

#galaxy-speed-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffd700;
  cursor: pointer;
  border-radius: 50%;
}

#reset-button {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #ffd700;
  color: #ffffff;
  font-family: "Orbitron", sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: all 0.3s;
}

#reset-button:hover {
  background-color: #d0b412;
}
