body {
  font-family: "Orbitron", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.section {
  position: relative;
  margin: 0 auto;
  max-width: 2200px;
  background-color: #080808;
  border-radius: 10px;
  box-shadow: 3px 4px 50px rgba(255, 255, 255, 0.1);
}

iframe {
  margin: 20px;
  width: 97%;
  height: 770px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 4px 50px rgba(255, 255, 255, 0.1);
}

.button-container {
  position: fixed;
  bottom: 50px;
  left: 40px;
  display: flex;
  gap: 20px;
}

.next-button,
.back-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: white;
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  transition: background 0.3s, transform 0.3s;
}

.next-button:hover,
.back-button:hover {
  background-color: #ff4500;
  transform: scale(1.05);
}

.next-button:active,
.back-button:active {
  transform: scale(1);
}
